<html lang="en">
    <%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/nav.ejs') %>

        <div class="about content">
            <h2>About Us</h2>
            <p>Lorem ipsum, dolor sit amet consectetur, adipisicing elit. Consequuntur, laboriosam incidunt. Neque quisquam cum libero quae doloribus exercitationem placeat ex dolores accusamus quia error, impedit ducimus saepe, repellat, deserunt officiis.</p>
            <p>Lorem ipsum, dolor sit amet consectetur, adipisicing elit. Voluptatibus iure obcaecati dolores commodi dicta. Voluptatibus explicabo mollitia dolorem recusandae deleniti magni fuga, obcaecati debitis, provident cum quas, minus dolores labore?</p>
            <p>Lorem ipsum, dolor sit amet consectetur, adipisicing elit. Sapiente facere nemo autem deserunt obcaecati repudiandae odio debitis, distinctio alias, sint, expedita tempora provident! Aspernatur, est doloribus? Atque aut quibusdam quae?</p>
        </div>

        <%- include('./partials/footer.ejs') %>
    </body>
</html>